<!-- Panel which holds pre-set ranges -->
<app-custom-panel></app-custom-panel>

<!-- Calendar header -->
<div class="calendar-header">
  <!-- "previous" buttons -->
  <button
    mat-icon-button
    class="calendar-double-arrow"
    (click)="previousClicked('year')"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-icon-button class="calendar-single-arrow" (click)="previousClicked('month')">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <!-- center label -->
  <span class="calendar-header-label">{{ periodLabel }}</span>

  <!-- "next" buttons -->
  <button mat-icon-button class="calendar-single-arrow" (click)="nextClicked('month')">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button
    mat-icon-button
    class="calendar-double-arrow"
    (click)="nextClicked('year')"
  >
    <mat-icon>keyboard_arrow_right</mat-icon>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
